.homebg{
    min-height: 100%;
    min-width: 1024px;

    width: 100%;
    height: auto;

    position: fixed;
    top: 0;
    left: 0;
    
}

#gif {
    float: right;    
     margin: 0 0 0 15px;
    }